*.orig
*.bak
*.rej
data/backup/*.gz
data/counter/*.count
data/wiki/*.txt
data/cache/*.ref
data/cache/*.rel
data/cache/recent.dat
data/cache/*.lock
data/attach/[A-F0-9]*
data/diff/*.txt
data/trackback/*.ref
vendor/
temp/
secret.php
composer.phar
composer.lock
